/* .firstLine {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 92%;
  align-items: center;
  max-width: 1200px;
  padding: 10px 0;
} */

/* .icons {
  font-size: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  gap: 20px;
}

.leftIcon {
  width: 78px;
} */

/* h1 {
  color: orange;
} */

/* .firstIcon {
  margin-right: 20px;
} */

/* .rightIcon {
  display: flex;
  height: 100%;
} */

/* .navBar {
  width: 92%;
  display: flex;
  justify-content: center;
}

.navBarTitle {
  margin: 20px;
} */

.heroImage {
  display: flex;
  justify-content: center;
  width: 100vw;

  /* object-fit: fill; */
  max-width: 1400px;
}

.menuItem {
  border-bottom: 1px solid #e8e9eb;
}

/* .heroImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (width <=768px) {
  h1 {
    order: 1;
    font-size: 24px;
    margin-right: auto;
  }

  .icons {
    order: 2;
    margin-left: 20px;
    justify-content: flex-end;
  }
} */
